src/main/mule/system-wms-by-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="system-wms-by-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8082" protocol="HTTPS" tlsContext="TLS_Context" />
    </http:listener-config>
    <apikit:config name="system-wms-by-api-config" api="resource::ab8117f6-d718-4307-b5f7-03262d589cd0:system-wms-by-api:1.0.41:raml:zip:system-wms-by-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="system-wms-by-api-main">
        <http:listener config-ref="system-wms-by-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="system-wms-by-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
		"completed_succesfully": "false",
		"error": {
			"error_type": "APIKIT-400",
			"user_error_description": "The server cannot or will not process the request due to something that is perceived to be a client error",
			"system_error_description": "Bad Request"
		}
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
		"completed_succesfully": "false",
		"error": {
			"error_type": "APIKIT-404",
			"user_error_description": "The origin server did not find a current representation for the target resource or is not willing to disclose that one exists",
			"system_error_description": "Not Found"
		}
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
		"completed_succesfully": "false",
		"error": {
			"error_type": "APIKIT-405",
			"user_error_description": "The method received in the request-line is known by the origin server but not supported by the target resource",
			"system_error_description": "Method Not Allowed"
		}
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[405]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
		"completed_succesfully": "false",
		"error": {
			"error_type": "APIKIT-406",
			"user_error_description": "The target resource does not have a current representation that would be acceptable to the user agent, according to the proactive negotiation header fields received in the request1, and the server is unwilling to supply a default representation",
			"system_error_description": "Not Acceptable"
		}
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[406]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
		"completed_succesfully": "false",
		"error": {
			"error_type": "APIKIT-415",
			"user_error_description": "The origin server is refusing to service the request because the payload is in a format not supported by this method on the target resource",
			"system_error_description": "Unsupported Media Type"
		}
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[415]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
	
		"completed_succesfully": "false",
		"error": {
			"error_type": "APIKIT-501",
			"user_error_description": "The server does not support the functionality required to fulfill the request",
			"system_error_description": "Not Implemented"
		}
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[501]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="9ef3e267-0653-4e53-954a-eb12314057fe" type="ANY">
                <ee:transform doc:name="Transform Message" doc:id="9d19b0e7-fe21-4085-badb-3f3af6599792">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "traxion_response": {
    "completed_succesfully": false,
    "error": {
      "operation": "System-Wms",
      "error_type": "500",
      "system_error_description": "INTERNAL_SERVER_ERROR - 500",
      "user_error_description": error
    }
  }
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[500]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="system-wms-by-api-console">
        <http:listener config-ref="system-wms-by-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="system-wms-by-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\wms\article:system-wms-by-api-config">
        <flow-ref doc:name="Call to orchestrators-update-article" doc:id="211af8c3-a261-4958-9c9c-c44e2e04aca5" name="orchestrators-update-article" />
    </flow>
    <flow name="post:\wms\availability:system-wms-by-api-config">
        <flow-ref doc:name="Call to orchestrators-update-availability" doc:id="ff86a9bf-159d-4542-a74a-543835b94c66" name="orchestrators-update-availability" />
    </flow>
    <flow name="post:\wms\bill_lading_details:system-wms-by-api-config">
        <flow-ref doc:name="Call to orchestrators-bill-lading-details" doc:id="b15cb894-eb32-4432-8437-1060272e2de2" name="orchestrators-bill-lading-details" />
    </flow>
    <flow name="post:\wms\order:system-wms-by-api-config">
        <flow-ref doc:name="Call to orchestrators-update-order" doc:id="4fc8c8e0-7f90-49d3-ab51-45480372c1ac" name="orchestrators-update-order" />
    </flow>
    <flow name="post:\wms\volumetry:system-wms-by-api-config">
        <flow-ref doc:name="Call to orchestrators-post-volumetry" doc:id="42fcd6c0-82d8-43f2-b3d3-bb331f294197" name="orchestrators-post-volumetry" />
        <!-- [STUDIO:"Transform Message"]		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{
    "traxion_response": {
        "completed_succesfully": "true",
        "response": {
            "message": "successful",
            "data": {}
        }
    }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform> [STUDIO] -->
    </flow>
    <flow name="post:\wms\logistics_footprint:system-wms-by-api-config">
        <flow-ref doc:name="Call to orchestrators-logistics-footprint" doc:id="84c82d1d-afe8-44f8-b433-ae9fda9d382f" name="orchestrators-logistics-footprint" />
    </flow>
    <flow name="post:\wms\box_quantity:system-wms-by-api-config">
        <flow-ref doc:name="Call to orchestrators-box-quantity" doc:id="54fcd5b6-1449-45e5-8e93-cc0feecda1ba" name="orchestrators-box-quantity" />
    </flow>
    <flow name="post:\wms\box:application\json:system-wms-by-api-config">
        <flow-ref doc:name="Call to orchestrators-box-postSub_Flow" doc:id="7ef8aef2-61fa-4c95-89cc-a07554ef2ce4" name="orchestrators-box-postSub_Flow" />
    </flow>
    <flow name="get:\wms\download_sequence:system-wms-by-api-config">
        <flow-ref doc:name="Call to orchestrators-shipment-status" doc:id="6f6b82d4-cf73-4596-95c1-577e036ecde9" name="orchestrators-shipment-status" />
    </flow>
    <flow name="get:\wms\order\(lodnum)\box:system-wms-by-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	lodnum: attributes.uriParams.'lodnum',
	wh_id: "AVIOR-27"
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="lodnum"><![CDATA[attributes.uriParams.'lodnum']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="orchestrators-get-boxes-by-orderId-main" doc:id="57322f4b-6535-43e9-b178-a7f1fe461043" name="orchestrators-get-boxes-by-orderId-main" />
    </flow>
    <flow name="get:\wms\lines:system-wms-by-api-config">
        <logger level="INFO" doc:name="Logger" doc:id="8e88ad53-da9a-4d1f-ba65-1a2d4ebfcfab" message="#[&quot;Obteniendo linea del order_number: &quot; ++ attributes.queryParams.order_number]" />
        <flow-ref doc:name="orchestrator-get-lines-Flow" doc:id="8a766863-ae56-4819-b735-1ad1fbccbe7b" name="orchestrator-get-lines-Flow" />
    </flow>
    <flow name="post:\wms\order\split:application\json:system-wms-by-api-config">
        <!-- [STUDIO:"Logger"]		<logger level="INFO" doc:name="Logger" doc:id="098db6e5-cc90-4f01-a0de-e4c04bb08850" message='#["Obteniendo numero de splits del order_number: " + payload.orders as String]' /> [STUDIO] -->
        <flow-ref doc:name="Call to orchestrator-get-split-Flow" doc:id="b66dfc9e-8191-4bf7-afc6-17df13eb6c74" name="orchestrator-get-split-Flow" />
    </flow>
    <flow name="post:\wms\order\split\validation:application\json:system-wms-by-api-config">
        <!-- [STUDIO:"Logger"]		<logger level="INFO" doc:name="Logger" doc:id="43b76816-ceb6-4617-9f00-7fd2ad9a559a" message='#["Obteniendo validacion de split del order_number: " + payload.orders as String]' /> [STUDIO] -->
        <flow-ref doc:name="Call to orchestrator-get-split-validation-Flow" doc:id="5ae1f885-543f-4aaa-96a2-1fd8ea17e2df" name="orchestrator-get-split-validation-Flow" />
    </flow>
    <flow name="get:\wms\provider\(provider_id):system-wms-by-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="provider_id"><![CDATA[%dw 2.0
output application/json
---
attributes.uriParams.'provider_id']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="orchestrator-get-provider" doc:id="340cb540-4eff-488d-8012-cde1f0d0f983" name="orchestrator-get-provider" />
    </flow>
    <flow name="get:\wms\provider:system-wms-by-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="providers_id"><![CDATA[%dw 2.0
output application/json
---
(attributes.queryParams.providers_id default "") replace "," with ("','")]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="orchestrator-get-provider" doc:id="6f79b76e-80b1-4d9c-9752-5441d71798c8" name="orchestrator-get-providersarray" />
    </flow>
    <flow name="get:\wms\inventory:system-wms-by-api-config">
        <flow-ref doc:name="call orchestrator-get-inventory-report" doc:id="60b39018-c7ab-4979-98be-0852e4421fad" name="orchestrator-get-inventory-report" />
    </flow>
    <flow name="post:\wms\bill_lading_details\load:application\json:system-wms-by-api-config">
        <flow-ref doc:name="Call to orchestrators-bill-lading-load-details" doc:id="620bef03-3c02-4163-8d93-efa99aca1958" name="orchestrators-bill-lading-load-details" />
    </flow>
    <flow name="get:\wms\charge_id_validation\(chargeId):system-wms-by-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="chargeId">attributes.uriParams.'chargeId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<flow-ref doc:name="Call-orchestrator-get-charge-id-validation" doc:id="451b5de1-5196-4763-95ac-ebd4e5491278" name="orchestrator-get-charge-id-validation"/>
    </flow>
    <flow name="post:\wms\article:application\xml:system-wms-by-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  downloadSequence: 52459
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\wms\availability:application\json:system-wms-by-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    STOCK_DISP: 0,
    UNTCAS: 240,
    CANTPZPCK: 20,
    CLAVE: "0606810042",
    FTPCOD: "0606810042 1X240-12-PQ",
    CANT_INV: 40,
    COMPROMETIDO: 40,
    EXPIRACION_MIN: "2023-10-13T00:00:00",
    PACKDISP: 0,
    PAQUETEO: "PQ"
  }, 
  {
    STOCK_DISP: 91090,
    UNTCAS: 900,
    CANTPZPCK: 50,
    CLAVE: "0606810042",
    FTPCOD: "0606810042 1X900-PQ",
    CANT_INV: 91150,
    COMPROMETIDO: 60,
    EXPIRACION_MIN: "2028-02-01T00:00:00",
    PACKDISP: 1822,
    PAQUETEO: "PQ"
  }
] as Array {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\wms\bill_lading_details:application\json:system-wms-by-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    DESCRIPCION: "PARACETAMOL. TABLETA CADA TABLETA CONTIENE: PARACETAMOL 500 MG. ENVASE CON 10 TABLETAS.",
    ESTADO: "GUANAJUATO",
    TIPO_VEHICULO: null,
    PARTIDA_PRESUPUESTAL: "253010000",
    NOMBRE_TRANSP: "MAYPO CENADI",
    CP_TRANSP: "4980",
    PERMISO_TRANSPORTE: "0919FMA14092021021001003",
    FECHA_DESPACHO: "2023-10-03T14:17:21",
    POLIZA: null,
    PRTNUM: "010000010400",
    ASEGURADORA: null,
    UNIDAD_PESO: "Caja de carton C105",
    CANTIDADES: 50,
    RFC_OPERADOR: null,
    PLACA_REMOLQUE: null,
    UMU_IDESTACION: "738",
    CLAVESAT: "51142405",
    NOMBRE_OPERADOR: null,
    LIC_OPERADOR: null,
    PAIS_TRANSP: "COYOACAN",
    SHIP_ID: "101-0000000032",
    PLACA: null,
    FECHA_LEVANTAMIENTO: "2023-10-03T13:45:36",
    CALLE_TRANSP: "VIADUCTO TLALPAN 3222",
    TIPO_REMOLQUE: null,
    ESTADO_TRANSP: "COYOACAN",
    CALLE: "AVENIDA PRADERA NUMERO 1101",
    MODELO: null,
    TOTAL_MERCANCIAS: 50,
    PAIS: "MEX",
    PESOXARTICULO: 550,
    CLAVE_PELIGROSO: null,
    MONTO: "3.0435",
    PELIGROSO: "NO",
    RFC_TRANSP: "FMA9301181B1",
    TIPOESTACION_PARADA: "STP0000777"
  }
] as Array {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\wms\box_quantity:application\json:system-wms-by-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    BULTOS_POR_ORDEN: 1,
    ORDNUM: "101-0000000032",
    SHIP_ID: "101-0000000032"
  }
] as Array {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\wms\logistics_footprint:application\json:system-wms-by-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    UNTQTY: 20,
    CASLVL: 6,
    VOL: 60191.04,
    UOMCOD: "CJ",
    FTPCOD: "0601686629 1X20",
    WID: 39,
    GRSWGT: 6720,
    DEFFTP_FLG: 1,
    LEN: 42.4,
    HGT: 36.4,
    NETWGT: 6720,
    PRTNUM: "0601686629"
  }, 
  {
    UNTQTY: 360,
    CASLVL: 6,
    VOL: 1740000,
    UOMCOD: "PA",
    FTPCOD: "0601686629 1X20",
    WID: 100,
    GRSWGT: 120960,
    DEFFTP_FLG: 1,
    LEN: 120,
    HGT: 145,
    NETWGT: 120960,
    PRTNUM: "0601686629"
  }, 
  {
    UNTQTY: 1,
    CASLVL: 6,
    VOL: 2474.432,
    UOMCOD: "PZ",
    FTPCOD: "0601686629 1X20",
    WID: 8.2,
    GRSWGT: 288,
    DEFFTP_FLG: 1,
    LEN: 18.4,
    HGT: 16.4,
    NETWGT: 288,
    PRTNUM: "0601686629"
  }
] as Array {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\wms\order:application\xml:system-wms-by-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  downloadSequence: 52458
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\wms\volumetry:application\json:system-wms-by-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    UNTQTY: 85,
    VOL: 12000,
    UOMCOD: "CJ",
    FTPCOD: "010000300300 1X1-R",
    NETWGT: 2635,
    PRTNUM: "010000300300"
  }, 
  {
    UNTQTY: 10200,
    VOL: 1740000,
    UOMCOD: "PA",
    FTPCOD: "010000300300 1X1-R",
    NETWGT: 316200,
    PRTNUM: "010000300300"
  }, 
  {
    UNTQTY: 1,
    VOL: 140.448,
    UOMCOD: "PZ",
    FTPCOD: "010000300300 1X1-R",
    NETWGT: 31,
    PRTNUM: "010000300300"
  }, 
  {
    UNTQTY: 115,
    VOL: 12000,
    UOMCOD: "CJ",
    FTPCOD: "010000300300 1X1-R2",
    NETWGT: 4395,
    PRTNUM: "010000300300"
  }, 
  {
    UNTQTY: 13800,
    VOL: 1740000,
    UOMCOD: "PA",
    FTPCOD: "010000300300 1X1-R2",
    NETWGT: 527400,
    PRTNUM: "010000300300"
  }, 
  {
    UNTQTY: 1,
    VOL: 104.044,
    UOMCOD: "PZ",
    FTPCOD: "010000300300 1X1-R2",
    NETWGT: 33,
    PRTNUM: "010000300300"
  }, 
  {
    UNTQTY: 400,
    VOL: 51227.61,
    UOMCOD: "CJ",
    FTPCOD: "010000300300 1X400",
    NETWGT: 13100,
    PRTNUM: "010000300300"
  }, 
  {
    UNTQTY: 9600,
    VOL: 1740000,
    UOMCOD: "PA",
    FTPCOD: "010000300300 1X400",
    NETWGT: 314400,
    PRTNUM: "010000300300"
  }, 
  {
    UNTQTY: 1,
    VOL: 91.875,
    UOMCOD: "PZ",
    FTPCOD: "010000300300 1X400",
    NETWGT: 32,
    PRTNUM: "010000300300"
  }, 
  {
    UNTQTY: 416,
    VOL: 90880.608,
    UOMCOD: "CJ",
    FTPCOD: "010000300300 1X416",
    NETWGT: 14600,
    PRTNUM: "010000300300"
  }, 
  {
    UNTQTY: 6240,
    VOL: 1740000,
    UOMCOD: "PA",
    FTPCOD: "010000300300 1X416",
    NETWGT: 244000,
    PRTNUM: "010000300300"
  }, 
  {
    UNTQTY: 1,
    VOL: 151.008,
    UOMCOD: "PZ",
    FTPCOD: "010000300300 1X416",
    NETWGT: 32,
    PRTNUM: "010000300300"
  }, 
  {
    UNTQTY: 20,
    VOL: 14256.9,
    UOMCOD: "CJ",
    FTPCOD: "010000585100 1X20",
    NETWGT: 2015,
    PRTNUM: "010000585100"
  }, 
  {
    UNTQTY: 1260,
    VOL: 1740000,
    UOMCOD: "PA",
    FTPCOD: "010000585100 1X20",
    NETWGT: 126945,
    PRTNUM: "010000585100"
  }, 
  {
    UNTQTY: 1,
    VOL: 587.4,
    UOMCOD: "PZ",
    FTPCOD: "010000585100 1X20",
    NETWGT: 82,
    PRTNUM: "010000585100"
  }, 
  {
    UNTQTY: 5,
    VOL: 125,
    UOMCOD: "CJ",
    FTPCOD: "010000585100 1x1",
    NETWGT: 5,
    PRTNUM: "010000585100"
  }, 
  {
    UNTQTY: 10,
    VOL: 1000,
    UOMCOD: "PA",
    FTPCOD: "010000585100 1x1",
    NETWGT: 10,
    PRTNUM: "010000585100"
  }, 
  {
    UNTQTY: 1,
    VOL: 1,
    UOMCOD: "PZ",
    FTPCOD: "010000585100 1x1",
    NETWGT: 1,
    PRTNUM: "010000585100"
  }
] as Array {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
